<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digitaldeparturesystem.mapper.DormMapper">

    <!--查询寝室退寝状态-->
    <select id="listStudentDormInfos" resultType="java.util.Map">
        SELECT
          s.stuID,
          s.stuNumber,
          s.stuName,
          s.stuType,
          s.apartmentNum,
          d.dormName,
          d.dormNumber
          FROM
           student s
          LEFT JOIN dorm d
          ON s.stuID=d.stuID
          <where>
              <if test="params.stuDept!=null and params.stuDept!=''">
                  AND s.stuDept = #{params.stuDept}
              </if>
              <if test="params.stuType!=null and params.stuType!=''">
                  AND s.stuType = #{params.stuType}
              </if>
              <if test="params.isLeave!=null and params.isLeave!=''">
                  AND d.isLeave = #{params.isLeave}
              </if>
          </where>
    </select>

    <!--审核学生退寝情况-->
    <update id="doCheckForDorm" parameterType="String" >
        update dorm set isLeave=1 where stuID=(select stuID from student where stuNumber=#{stuNumber})
    </update>

   <!-- 根据学号获取学生退寝情况-->
    <select id="getStudentByIdForDorm" parameterType="String" resultType="com.digitaldeparturesystem.pojo.DormInfo">
        select
         s.`stuNumber`,
         s.`stuName`,
         s.`stuDept`,
         s.`stuType`,
         d.`dormName`,
         d.`dormNumber`,
         d.`isLeave`
        FROM
        student s
        LEFT JOIN dorm d
        ON s.stuID = d.stuID
        <where>
            <if test="stuNumber!=null and stuId!=''">
                AND s.`stuNumber` = #{stuNumber}
            </if>
        </where>

    </select>

    <!--查询所有学生退寝情况-->
    <select id="listAllDorm" resultType="com.digitaldeparturesystem.pojo.DormInfo">
        SELECT
         s.`stuNumber`,
         s.`stuName`,
         s.`stuDept`,
         s.`stuType`,
         d.`dormName`,
         d.`dormNumber`,
         d.`isLeave`
         FROM student s
         LEFT JOIN dorm d
         ON s.stuID = d.stuID
    </select>

    <!--查询某个学生是否存在-->
    <select id="findStuByStuNumber" parameterType="String" resultType="com.digitaldeparturesystem.pojo.Student">
        select * from student where stuNumber=#{stuNumber}
    </select>



</mapper>