<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace=绑定一个对应的mapper接口--> 
<mapper namespace="com.digitaldeparturesystem.mapper.StudentMapper">

    <!--select查询语句-->
    <!--这里的resultType要写完整路径，不然xml文件找不到路径-->
    <select id="getStudentList" resultType="com.digitaldeparturesystem.pojo.Student">
        select * from student;
    </select>

    <select id="getStudentById" parameterType="String" resultType="com.digitaldeparturesystem.pojo.Student">
        select * from student where id = #{id};
    </select>

    <!--对象中的属性可以换直接取出来-->
    <insert id="addStudent" parameterType="com.digitaldeparturesystem.pojo.Student">
        insert into student (id,stuNumber,stuName,stuPwd,stuDept,stuClass,stuPhoneNumber,stuPicture,stuSex,stuStatus,stuInDate,stuOutDate,stuAddress)
        values(#{id},#{stuNumber},#{stuName},#{stuPwd},#{stuDept},#{stuClass},#{stuPhoneNumber},#{stuPicture},#{stuSex},#{stuStatus},#{stuInDate},#{stuOutDate},#{stuAddress});
    </insert>

    <!--对象中的属性可以换直接取出来-->
    <insert id="updateStudent" parameterType="com.digitaldeparturesystem.pojo.Student">
        update student set
        stuNumber = #{stuName},
        stuName = #{stuName},
        stuPwd = #{stuPwd},
        stuDept = #{stuDept},
        stuClass = #{stuClass},
        stuPhoneNumber = #{stuPhoneNumber},
        stuPicture = #{stuPicture},
        stuSex = #{stuSex},
        stuStatus = #{stuStatus},
        stuInDate = #{stuInDate},
        stuOutDate = #{stuOutDate},
        stuAddress = #{stuAddress}
        where id = #{id};
    </insert>

    <insert id="updateStudent2" parameterType="map">
        update student set
        stuName = #{name},
        stuPwd = #{password},
        stuPhoneNumber = #{phone},
        stuAddress = #{address}
        where id = #{id};
    </insert>

    <!--对象中的属性可以换直接取出来-->
    <insert id="deleteStudent" parameterType="com.digitaldeparturesystem.pojo.Student">
        delete from digital_departure_system.tb_student where id = #{id};
    </insert>



</mapper>